<h1>Faça aqui a sua reserva de torta</h1>
<% if @activity.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @activity.errors.each do |attr, msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
	<div class="span6 offset">
		<%= form_for(@activity) do |f| %>
			Sabor da torta: 
			<%= f.collection_select(:product, @products, :flavor, :flavor, {:prompt => ''}, {:required => true}) %>
			<br>
			Quantidade de tortas:
			<%= f.text_field :productQuantity %><br>
			Data e hora da entrega: 
			<%= f.datetime_select :date_time, 	
							  :use_month_numbers => true,
							  :order => [:day, :month, :year],
							  :default => Time.now,
							  :start_year => 2012,
							  :end_year => Time.now.year + 1,
							  :start_time => Time.now %> <br>
			Seu nome: 
			<%= f.text_field :clientName %> <br>
			Seu endereço 
			<%= f.text_field :clientAddress %> <br>
			Seu telefone de contato: 
			<%= f.text_field :clientTelephone %> <br>
			Seu email: 
			<%= f.text_field :clientEmail %> <br>

			<%= f.submit "Criar reserva",  class: "btn btn-large btn-primary" %> 
		<% end %>
	</div>
</div>