<h1>Listagem de Reservas</h1>
<% @activities.each do |activity|  %>
<h2><%= activity.product %></h2>
<h2><%= activity.date %></h2>
<h2><%= activity.time %></h2>
<h2><%= activity.clientName %></h2>
<h2><%= activity.clientAddress %></h2>
<h2><%= activity.clientTelephone %></h2>
<h2><%= activity.clientEmail %></h2>
<% end %>
