<!DOCTYPE html>
<html>
<head>
  <title>Reserva de Tortas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    root_path %></li>
                <li><%= link_to "Reserva de Torta",    reservas_path %></li>
                <li><%= link_to "Lista de sabores", listasabores_path %></li>
              <% if user_signed_in? %>
                <li><%= link_to "Lista de Reservas", listagem_path %></li>
                <li><%= link_to "Cadastrar sabores", sabores_path %></li>
                <li>Ola <%= current_user.login %>.</li>
                <li><%= link_to 'Sair', destroy_user_session_path, :method => :delete%></li>
              <% else %>
                <li> <%= link_to 'Logar', new_user_session_path %></li>
              <% end %>  
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
		<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
	</div>

</body>
</html>
